# Development settings
DOMAIN=example.org
ADMIN_EMAIL=admin@${DOMAIN}
ROOT_URL=${DOMAIN}/app



# Also i neeed to remember to change the values in the 
# `my_modules/bot_config_settings.py` files for some settinngs bot will follow
# I need to just write the below thhings 



BOT_TOKEN = 123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ
BOT_USERNAME = "FreeOpenSourceBot"
BOT_NAME = "Free Open Source Bot"
